<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>FindPets</title>
</head>
<body class="bg-light">

    <nav class="navbar navbar-expand-lg navbar-light bg-light static-top center">
        <a class="navbar-brand nav-justified" href="#">
            <img src="https://raw.githubusercontent.com/AgnaldoCC/findpets-frontend/master/assets/images/dog.png?token=AE4XOI2XVY3NAXS6BHBXE5S5EF3VK" height="64" width="64" alt="">
        </a>
        <a class="navbar-brand mb-0 h1" href="#">
            FindPets
        </a>
    </nav>


<div class="row justify-content-md-center" style="padding-top: 6%">
    <h1><span class="badge">Alguém quis compartilhar algo do FindPets contigo!</span></h1>
</div>
<div class="row justify-content-md-center" style="padding-top: 6%">

    <div class="card mb-3" style="max-width: 700px;" >
            <div class="row no-gutters">
              <div class="col-md-5">
                <img src="http://limitless-everglades-23167.herokuapp.com/post_images/<%=photoId%>" class="card-img" alt="..." height="100" width="100" style="padding-top: 10%; min-height: 300px;">
              </div>
              <div class="col-md-7">
                <div class="card-body">
                  <h5 class="card-title"><%= title %></h5>
                  <p class="card-text"><%= content %></p>
                </div>
              </div>
            </div>
            <div class="card-footer">
                    <p class="card-text">
                      <small class="text-muted">Criado por: <%= authorName %></small> <br>
                      <small class="text-muted"><%= createdAt %></small>  
                    </p>
                  </div>
          </div>
</div>


    



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>